/* Style the navigation bar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #555;
  padding: 12px;
}

/* Navbar links */
.navbar a {
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: #000;
}

/* Current/active navbar link */
.navbar .active {
  background-color: #04AA6D;
}

/* Download button */
.download {
  color: white;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar {
    flex-direction: column;
  }
  .navbar a {
    padding: 8px 0;
    text-align: center;
    width: 100%;
  }
}
